In [1]:
import pandas as pd
from getModel_Year_MakeID import getModel_Year_MakeID
from fuzzywuzzy import process
import numpy as np

In [2]:
ME_df = pd.read_excel('C:\\Users\\FFR0103\\Desktop\\My files\\WORK\\Auto part\\QC process\\20191218\\NEW eligible vehicles to add 12.18.2019 per John\'s list.xlsx', dtype = str)
ME_df = ME_df.dropna()
ME_df.Make.unique()

array(['Acura', 'Alfa Romeo', 'Audi', 'Bentley', 'BMW', 'Buick',
       'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'Ferrari', 'FIAT',
       'Ford', 'Genesis', 'Geo', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'ISUZU', 'Kia', 'Land Rover', 'Lexus',
       'Lincoln', 'Mazda', 'Mercedes-Benz', 'Mercury', 'MINI',
       'Mitsubishi', 'Nissan', 'Plymouth', 'Pontiac', 'Ram', 'Saab',
       'Saturn', 'Scion', 'Smart', 'Subaru', 'Suzuki', 'Toyota',
       'Volkswagen', 'Volvo'], dtype=object)

In [3]:
ME_df.Make.unique()
import json

import httplib2
import pandas as pd



url = "https://vpic.nhtsa.dot.gov/api/vehicles/GetAllMakes?format=json"
h = httplib2.Http()
_, content = h.request(url, "GET")
result = json.loads(content)
ALL = pd.DataFrame(result["Results"])

Dict = {}
for make in ME_df.Make.unique():
    try:
        a = ALL[ALL["Make_Name"].str.strip().str.lower() == make.lower()]
    except:
        Dict[make.lower()] = 'Empty'
    else:
        Dict[make.lower()] = a.Make_ID.values[0] if len(a.Make_ID)>0 else 'N/A'
Dict
rev_Dict = {}
for key, value in Dict.items():
    key, value = value, key
    rev_Dict[key] = value
rev_Dict

{475: 'acura',
 493: 'alfa romeo',
 582: 'audi',
 583: 'bentley',
 452: 'bmw',
 468: 'buick',
 469: 'cadillac',
 467: 'chevrolet',
 477: 'chrysler',
 476: 'dodge',
 603: 'ferrari',
 492: 'fiat',
 460: 'ford',
 5083: 'genesis',
 1146: 'geo',
 472: 'gmc',
 474: 'honda',
 951: 'hummer',
 498: 'hyundai',
 480: 'infiniti',
 542: 'isuzu',
 499: 'kia',
 444: 'land rover',
 515: 'lexus',
 464: 'lincoln',
 473: 'mazda',
 449: 'mercedes-benz',
 465: 'mercury',
 456: 'mini',
 481: 'mitsubishi',
 478: 'nissan',
 2409: 'plymouth',
 536: 'pontiac',
 496: 'ram',
 572: 'saab',
 1056: 'saturn',
 'N/A': 'scion',
 504: 'smart',
 523: 'subaru',
 509: 'suzuki',
 448: 'toyota',
 482: 'volkswagen',
 485: 'volvo'}

In [5]:
def getMatch(Make_id, Year, Dict):
    Rlist = []

    try:
        Option_list = getModel_Year_MakeID(Make_id, Year)
        if len(getModel_Year_MakeID(Make_id, Year)) == 0 :
            raise Exception

    except Exception:
        QC_Make_year = ME_df[
            (ME_df.Make.str.lower() == Dict[Make_id]) & (ME_df.Year == Year)
        ].sort_values(by=["Make", "Year", "Model"])

        Rlist = ["No Data in the Database"] * len(QC_Make_year)
    else:
        QC_Make_year = ME_df[
            (ME_df.Make.str.lower() == Dict[Make_id]) & (ME_df.Year == Year)
        ].sort_values(by=["Make", "Year", "Model"])

        for i in range(len(QC_Make_year.Model)):
            str2Match = str(QC_Make_year.Model.values[i])
            strOptions = Option_list
            Ratios = process.extract(str2Match, strOptions)
            Rlist.append([a + ": " + str(dict(Ratios)[a]) for a in dict(Ratios)])

    return Rlist

def getQCtable_allyear(Dict):
    
    row_number = 1

    QC_Make = pd.DataFrame()
    
    for Make_id in Dict:   
        
        Years = list(ME_df[ME_df.Make.str.lower() == Dict[Make_id]].Year.unique())  
        
        for Year in Years:

            Match_list = getMatch(Make_id, Year,Dict)

            TopMatch = [rec[0].split(":")[0] if len(rec) >0 and type(rec) == list else 'N/A' for rec in Match_list]

            QC_Make_Year = ME_df[
                (ME_df.Make.str.lower() == Dict[Make_id]) & (ME_df.Year == Year)
            ].sort_values(by=["Make", "Year", "Model"])

            QC_Make_Year["TopMatch"] = TopMatch 

            QC_Make_Year["MatchOptions"] = Match_list

            QC_Make_Year["Match"] = np.where(
                QC_Make_Year.Model.str.lower() == QC_Make_Year.TopMatch.str.lower(),
                "Yes",
                "No",
            )

            QC_Make_Year["HighestScore"] = [
                int(rec[0].split(": ")[1]) if type(rec) != str else "N/A"
                for rec in QC_Make_Year["MatchOptions"]
            ]

#             QC_Make_Year["TopMaTchExsting"] = [
#                 np.where(
#                     QC_Make_Year["TopMatch"].values[i].lower()
#                     in QC_Make_Year.Model.str.lower().unique(),
#                     "Yes",
#                     "No",
#                 )
#                 if QC_Make_Year["HighestScore"].values[i] >= 80
#                 else "No"
#                 for i in range(len(QC_Make_Year["TopMatch"]))
#             ]

            QC_Make = pd.concat([QC_Make, QC_Make_Year])
            print(row_number,Make_id,rev_Dict[Make_id],Year)
            row_number += 1

    return QC_Make

In [ ]:
Output_df = getQCtable_allyear(rev_Dict)

1 475 acura 2013
2 475 acura 2014
3 475 acura 2015
4 475 acura 2016
5 475 acura 2017
6 475 acura 2012
7 475 acura 2006
8 475 acura 2007
9 475 acura 1996
10 475 acura 1997
11 475 acura 1998
12 475 acura 1999
13 475 acura 2002
14 475 acura 2003
15 475 acura 2009
16 475 acura 2010
17 475 acura 2011
18 475 acura 2000
19 475 acura 2001
20 475 acura 2004
21 475 acura 2005
22 475 acura 2008
23 493 alfa romeo 2001
24 493 alfa romeo 2002
25 493 alfa romeo 2003
26 493 alfa romeo 2016
27 582 audi 2001
28 582 audi 2002
29 583 bentley 2003
30 583 bentley 2004
31 583 bentley 2005
32 583 bentley 2006
33 583 bentley 2007
34 583 bentley 2008
35 583 bentley 2009
36 583 bentley 2010
37 583 bentley 2011
38 583 bentley 2012
39 583 bentley 2013
40 583 bentley 2014
41 583 bentley 2015
42 583 bentley 2016
43 583 bentley 2017
44 452 bmw 2007
45 452 bmw 2008
46 452 bmw 2009
47 452 bmw 2010
48 452 bmw 2011
49 452 bmw 2018
50 452 bmw 1997
51 452 bmw 1998
52 468 buick 2005
53 468 buick 1997
54 468 buick 1998
55 468 buick 1999
56 468 buick 2009
57 468 buick 2010
58 468 buick 2011
59 469 cadillac 1999
60 469 cadillac 2006
61 469 cadillac 2007
62 469 cadillac 2018
63 469 cadillac 2013
64 469 cadillac 2014
65 469 cadillac 2008
66 469 cadillac 2009
67 467 chevrolet 2002
68 467 chevrolet 2003
69 467 chevrolet 2004
70 467 chevrolet 2005
71 467 chevrolet 2006
72 467 chevrolet 2007
73 467 chevrolet 2015
74 467 chevrolet 2016
75 467 chevrolet 2017
76 467 chevrolet 2018
77 467 chevrolet 2014
78 467 chevrolet 2000
79 467 chevrolet 2001
80 467 chevrolet 2012
81 467 chevrolet 2013
82 467 chevrolet 1999
83 467 chevrolet 1998
84 467 chevrolet 2010
85 467 chevrolet 2011
86 467 chevrolet 2019
87 477 chrysler 1998
88 477 chrysler 1999
89 477 chrysler 2013
90 477 chrysler 2014
91 477 chrysler 2015
92 477 chrysler 2016
93 477 chrysler 2017
94 477 chrysler 2018
95 477 chrysler 2000
96 477 chrysler 2001
97 477 chrysler 2002
98 477 chrysler 2003
99 477 chrysler 2004
100 477 chrysler 2005
101 477 chrysler 2006
102 477 chrysler 2007
103 477 chrysler 2008
104 477 chrysler 2009
105 477 chrysler 2010
106 477 chrysler 2011
107 476 dodge 1995
108 476 dodge 1996
109 476 dodge 1997
110 476 dodge 1998
111 476 dodge 1999
112 476 dodge 2001
113 476 dodge 2002
114 476 dodge 2003
115 476 dodge 2004
116 476 dodge 2016
117 476 dodge 2011
118 476 dodge 2012
119 476 dodge 2013
120 476 dodge 2014
121 476 dodge 2015
122 476 dodge 2017
123 476 dodge 2009
124 476 dodge 2010
125 476 dodge 2000
126 476 dodge 2005
127 476 dodge 2006
128 476 dodge 2007
129 476 dodge 2008
130 603 ferrari 1998
131 603 ferrari 1999
132 603 ferrari 2000
133 603 ferrari 2001
134 603 ferrari 2002
135 603 ferrari 2003
136 603 ferrari 2006
137 603 ferrari 2011
138 492 fiat 2012
139 492 fiat 2013
140 492 fiat 2014
141 492 fiat 2015
142 492 fiat 2016
143 460 ford 1997
144 460 ford 2003
145 460 ford 2004
146 460 ford 2005
147 460 ford 2006
148 460 ford 2007
149 460 ford 2008
150 460 ford 2009
151 460 ford 1998
152 460 ford 1999
153 460 ford 2019
154 460 ford 2010
155 460 ford 2014
156 460 ford 2015
157 460 ford 2016
158 460 ford 2013
159 460 ford 2017
160 460 ford 2018
161 460 ford 2001
162 5083 genesis 2017
163 1146 geo 1997
164 472 gmc 2005
165 472 gmc 2000
166 472 gmc 2001
167 472 gmc 2003

## Test case

In [6]:
test = {603:'ferrari'}

getQCtable_allyear(test)

1 603 ferrari 1998
2 603 ferrari 1999
3 603 ferrari 2000
4 603 ferrari 2001
5 603 ferrari 2002
6 603 ferrari 2003
7 603 ferrari 2006
8 603 ferrari 2011

,Make,Model,Year,Parts,RowID,TopMatch,MatchOptions,Match,HighestScore
249,Ferrari,456,1998,Body Sealing Products,2280,550 Maranello,"[550 Maranello: 30, F355: 29]",No,30
250,Ferrari,456,1999,Body Sealing Products,2281,550 Maranello,"[550 Maranello: 30, F355: 29]",No,30
251,Ferrari,456,2000,Body Sealing Products,2282,N/A,No Data in the Database,No,N/A
252,Ferrari,456,2001,Body Sealing Products,2283,N/A,No Data in the Database,No,N/A
253,Ferrari,456,2002,Body Sealing Products,2284,456 MGT,"[456 MGT: 90, 456 MGTA: 90, 360 Modena/360 Mod...",No,90
257,Ferrari,F355,2002,Body Sealing Products,2314,575 M Maranello/575 M Maranello F1,"[575 M Maranello/575 M Maranello F1: 30, 360 M...",No,30
254,Ferrari,456,2003,Body Sealing Products,2285,456 MGT,"[456 MGT: 90, 456 MGTA: 90, 360 Modena/360 Mod...",No,90
255,Ferrari,599 GTB,2006,"Alternators, Starters",2290,599 GTB,"[599 GTB: 100, 612 Scaglietti: 29, F430 Spider...",Yes,100
256,Ferrari,599 GTB,2011,"Spark Plugs, Oxygen Sensors, and Air Fuel Rat...",2295,599 GTB Fiorano,"[599 GTB Fiorano: 90, 599 GTO: 86, 458 Italia:...",No,90

In [26]:
getMatch(603, '2000', rev_Dict)

out = dict(list(rev_Dict.items())[13:14]) 
test = {N/A:'ferrari'}

getQCtable_allyear(test)

getModel_Year_MakeID(475, '2000')


getModel_Year_MakeID(475,'2000')

# Valid_df = getModel_Year_MakeID(Make_id, Year)
for Make_id in rev_Dict:
    Years = list(ME_df[ME_df.Make.str.lower() == rev_Dict[Make_id]].Year.unique())
    for Year in Years:
        print(Make_id,rev_Dict[Make_id], Year,len(getModel_Year_MakeID(Make_id, Year)))

['No Data in the Database']